:root {
    --primary-color: #329e5e;
    --muted-color: #e9ecef;
    --white-color: #ffffff;
}

html,
body {
    background-color: var(--muted-color);
    font-size: 15px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}


.green-color {
    color: var(--primary-color);
}

.green-bg-color {
    background-color: var(--primary-color);
}

.muted-color {
    color: var(--muted-color);
}

.row {
    margin-right: 0;
    margin-left: 0;
}
