:root {
    --primary-color: #329e5e;
}

html,
body {
    font-size: 15px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e9ecef;
}

input {
    background-color: #e9ecef !important;
}

.custom-input {
    display: flex;
    justify-content: center;
    height: 47px;
    width: 47px;
}

.text-green {
    color: var(--primary-color);
}